.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .example-container {
      height:90vh;
  }

  .mat-drawer  {
      width: 20%;
  }

  .margin-space {
      margin-left:25px
  }