<mat-toolbar color="primary" *ngIf="showToolbar">
  <span [routerLink]="['home']">TODO</span>
  <span class="margin-space" [routerLink]="['user']">User</span>
  <span class="example-fill-remaining-space" ></span>
  <span (click)="sidenav.toggle()">Open menu</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" position="end">
    <p><mat-checkbox [(ngModel)]="opened" >sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 