<mat-toolbar color="primary" *ngIf="showToolbar">
  <span [routerLink]="['home']">TODO</span>
  <span class="margin-space" [routerLink]="['user']">User</span>
  <span class="example-fill-remaining-space" ></span>
  <span (click)="sidenav.toggle()"><mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon></span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" position="end">
    <div class="own-ripple-style" [routerLink]="['/home']" matRipple><mat-icon class="own-icon-style">home</mat-icon>Home</div>
    <div class="own-ripple-style" [routerLink]="['/user']" matRipple><mat-icon class="own-icon-style">list alt</mat-icon>User</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 