.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .example-container {
      height:90vh;
  }

  .mat-drawer  {
      width: 20%;
  }

  .margin-space {
      margin-left:25px
  }

  .own-icon-style {
    vertical-align: middle;
    margin-right: 10px;
  }

  .own-ripple-style {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
  }