<form #f="ngForm" (submit)="onSubmit(f)">
<h1 mat-dialog-title>{{addUser.name ? 'Edit' : 'Add' }} User</h1>
<div mat-dialog-content> 
  <div>
      <label for="username">Your Name* : </label>
      <mat-form-field>
        <input matInput [(ngModel)]="addUser.name" name="username" id="username" required #username="ngModel">
      </mat-form-field>
      <div class="validation-error" *ngIf="username.touched && username.hasError('required')">Your name is required.</div>
  </div>
 <div>
   <label for="age">Your Age* : </label>
   <mat-form-field>
     <input matInput [(ngModel)]="addUser.age" name="age" id="age" required #age="ngModel">
   </mat-form-field>
   <div class="validation-error" *ngIf="age.touched && age.hasError('required')">Your age is required.</div>
     
 </div>
 <div>
   <label for="hobbies">Your Hobbies* : </label>
   <mat-form-field>
     <textarea matInput [(ngModel)]="addUser.hobbies" name="hobbies" id="hobbies" required #hobbies="ngModel"></textarea>
   </mat-form-field>
   <div class="validation-error" *ngIf="hobbies.touched && hobbies.hasError('required')">Your hobbies is required.</div>

 </div>
 <div>
   <label for="address">Your Address : </label>
   <mat-form-field>
     <textarea matInput [(ngModel)]="addUser.address" name="address" id="address"></textarea>
   </mat-form-field>
 </div>
</div>
<div mat-dialog-actions class="btn-align">
  <button mat-raised-button color="accent" class="btn-size" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" class="btn-size" [disabled]="f.invalid" type="submit">Add</button>
</div> 
</form>